packager/list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0">
	<xs:element name="revision">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:date" name="date"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="revisions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="revision" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="comment" type="xs:string"/>

	<xs:element name="schema" type="xs:string"/>

	<xs:element name="schemas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="view" type="xs:string"/>

	<xs:element name="views">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="view" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="table">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="file" use="optional"/>
					<xs:attribute type="xs:string" name="format" use="optional"/>
					<xs:attribute type="xs:string" name="date_format" use="optional"/>
					<xs:attribute type="xs:string" name="delimiter" use="optional"/>
					<xs:attribute type="xs:string" name="encoding" use="optional"/>
					<xs:attribute type="xs:string" name="header" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="tables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="bfile" type="xs:string"/>

	<xs:element name="bfiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bfile" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="revisions"/>
				<xs:element ref="comment"/>
				<xs:element ref="schemas" minOccurs="0" maxOccurs="1" />
				<xs:element ref="views"   minOccurs="0" maxOccurs="1" />
				<xs:element ref="tables"  minOccurs="0" maxOccurs="1" />
				<xs:element ref="bfiles"  minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute type="xs:byte" name="schemaMajorVersion"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
